// Mixins allow you to re-use similar bits of code
// with different settings

// A mixin is declared via @mixin
@mixin font($font-size, $line-height:1em) {
	font-size:$font-size;
	line-height:$line-height;
}

// A mixin is used via @include
.main-title {
	@include font(20px, 24px);
}
// You can then add additional styles as needed
.main-title span {
	@include font(16px, 18px);
	font-style:italic;
}

//----------------------------------------------------------

// A placeholder mixin using @content

@mixin placeholder() {
	::-webkit-input-placeholder {
		@content;
	}
	::-moz-placeholder {
		@content;
	}
	:-moz-placeholder {
		@content;
	}
	:-ms-input-placeholder {
		@content;
	}
}
.contact-form {
	@include placeholder{
		color:#ccc;
		font-style:italic;
	}
}

