<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">

		<title>Themes Made of Awesome with SASS and Compass</title>

		<meta name="author" content="Guy Routledge">

		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<link rel="stylesheet" href="css/reveal.min.css">
		<link rel="stylesheet" href="css/theme/beige.css" id="theme">

		<!-- custom styles -->
		<link rel="stylesheet" href="../css/screen.css">

		<!-- For syntax highlighting -->
		<link rel="stylesheet" href="lib/css/zenburn.css">

		<!-- If the query includes 'print-pdf', use the PDF print sheet -->
		<script>
			document.write( '<link rel="stylesheet" href="css/print/' + ( window.location.search.match( /print-pdf/gi ) ? 'pdf' : 'paper' ) + '.css" type="text/css" media="print">' );
		</script>

		<!--[if lt IE 9]>
		<script src="lib/js/html5shiv.js"></script>
		<![endif]-->
	</head>

	<body>

		<div class="reveal">

			<!-- Any section element inside of this container is displayed as a slide -->
			<div class="slides">

				<section>
					<hgroup class="main-title">
					<h3>Themes made of Awesome with</h3>
						<h1>SASS <span class="small">&amp;</span> Compass</h1>
					</hgroup>
					<p>
						<small>by <a href="http://www.guyroutldege.co.uk">Guy Routledge</a> |
						<a href="http://twitter.com/guyroutledge">@guyroutledge</a></small>
					</p>
					<p><small>Code and working examples: <br><a href="https://github.com/guyroutledge/sass-compass-talk">https://github.com/guyroutledge/sass-compass-talk</a></small></p>
					<aside class="notes">
						<p>Do an intro</p>
						<h3>Quick Questions</h3>
						<p>Ask how many designers/developers</p>
						<p>Ask how many heard of SASS</p>
						<p>Ask how many used SASS</p>
					</aside>
				</section>
				<section>
					<section>
						<h1>What is SASS?</h1>
						<p>It stands for Syntactically Awesome StyleSheets</p>
						<p>&nbsp;</p>
						<p>SASS is a CSS pre-processor</p>
					</section>
					<section>
						<h2>Instead of writing CSS, you write SASS</h2>
						<p>and compile it into CSS.</p>
						<p>&nbsp;</p>
						<p><small>this means you can do all sorts of clever stuff inbetween</small></p>
					</section>
					<section>
						<hgroup>
							<p>SASS has two syntaxes</p>
							<h1>SASS <span class="small">and</span> SCSS</h1>
						</hgroup>
					</section>
					<section>
						<div class="column-left">
							<h1>SASS</h1>
							<pre><code>.module
  display:inline-block
  margin:1em
  padding:1em
  background:pink
  border:1px solid grey

</code></pre>
							<p><small>whitespace dependent<br>
								no braces or semi-colons</small></p>
						</div>
						<div class="column-right">
							<h1>SCSS</h1>
<pre><code>.module {
  display:inline-block;
  margin:1em;
  padding:1em;
  background:pink;
  border:1px solid grey;
}
</code></pre>
							<p><small>identical to CSS<br>
							any valid CSS is valid SCSS</small></p>
						</div>

					</section>
				</section>
				<section>
					<section>
						<h1>How do I get it?</h1>
					</section>
					<section class="helper-apps">
						<h2>All these apps help you use SASS</h2>
						<div class="app">
							<a class="image" href="http://compass.handlino.com/"><img src="img/compass-app.jpg" alt="Compass App"></a><br>
							<a href="http://compass.handlino.com/">http://compass.handlino.com</a>
						</div>
						<div class="app">
							<a class="image" href="http://mhs.github.com/scout-app/"><img src="img/scout.jpg" alt="Scout App"></a><br>
							<a href="http://mhs.github.com/scout-app/">mhs.github.com/scout-app</a>
						</div>
						<div class="app">
							<a class="image" href="http://hammerformac.com"><img src="img/hammer.jpg" alt="Hammer for Mac"></a><br>
							<a href="http://hammerformac.com">http://www.hammerformac.com</a>
						</div>
						<div class="app">
							<a class="image" href="http://incident57.com/codekit/"><img src="img/codekit.jpg" alt="Codekit"></a><br>
							<a href="http://incident57.com/codekit/">http://incident57.com/codekit/</a>
						</div>
						<div class="app">
							<a class="image" href="http://livereload.com/"><img src="img/live-reload.jpg" alt="Live Reload"></a><br>
							<a href="http://livereload.com/">http://livereload.com/</a>
						</div>
						<div class="app">
							<a class="image" href="http://mixture.io"><img src="img/mixture.jpg" alt="Mixture.io"></a><br>
							<a href="http://mixture.io">http://www.mixture.io</a>
						</div>
					</section>
					<section>
						<h2>Alternatively, the easy way:</h2>
						<pre class="code-centered"><code>$ sudo gem install compass</code></pre>
					</section>
				</section>
				<section>
					<section>
						<hgroup>
							<h1>How do I use it</h1>
							<h2>(with WordPress)?</h2>
						</hgroup>
					</section>
					<section>
						<h2>Create a Compass Project</h2>
						<pre><code>$ cd path/to/theme
$ compass create --sass-dir=scss --css-dir=css
$ compass watch</code></pre>
						<p>&nbsp;</p>
						<p>Whenever you make a change to a <code>.scss</code>
						file,<br>
						Compass will compile your CSS automatically.</p>
					</section>
					<section>
						<h2>SASS compiles your .scss to .css</h2>
						<p><img src="img/directory-structure-scss.jpg" height="173"></p>
						<p><img src="img/directory-structure-css.jpg" height="173"></p>
					</section>
					<section>
						<h2>WordPress and <code>style.css</code></h2>
						<p><code>style.css</code> is key for WordPress themes</p>
						<p>&nbsp;</p>
						<p>You <em>could:</em></p>
						<p>Set the CSS directory to the theme root: <code>css-dir=''</code></p>
						<p>Rename <code>style.css</code> to <code>style.scss</code> and write SASS</p>
					</section>
					<section>
						<p><small>If you want to keep using <code>style.css</code>...</small></p>
						<h2>Keep the comments in tact</h2>
						<p>Begin writing your SASS beneath the theme info</p>
						<p>To make sure SASS doesn't remove your comments:</p>
						<pre><code>/*!
Theme Name: SASSY Theme
...
*/</code></pre>
						<p><small>source: <a href="http://css-tricks.com/compass-compiling-and-wordpress-themes/">http://css-tricks.com/compass-compiling-and-wordpress-themes/</a></small></p>
					</section>
					<section>
						<h2>Use the compiled stylesheet</h2>
						<p>Just enqueue the styles just like any other CSS file</p>
						<pre><code>&lt;?php
  wp_enqueue_style(
    'global-styles',
    get_template_directory_uri() . '/css/screen.css',
    null,
    '1.0',
    'screen'
  );
?&gt;</code></pre>
					<p>Or just add a link tag to your <code>&lt;head&gt;</code></p>
					<pre><code>&lt;link rel="stylesheet" href="path/to/css/screen.css" media="screen"&gt;</code></pre>
					</section>
					<section>
						<h2>But what about <code>style.css</code>?</h2>
						<p><code>style.css</code> is only required for theme information</p>
						<p>There's no need to include it in your <code>&lt;head&gt;</code></p>
						<p>Doing so would incurr an extra HTTP request</p>
					</section>
					<section>
						<h2>Compass Configuration</h2>
						<p>Compass creates a <code>config.rb</code> file in your project root</p>
						<p>This allows you to set your paths to images, scss and css</p>
						<p>It also allows you to change the format of compiled CSS</p>
						<p><img src="img/config.jpg" alt="Config.rb"></p>
					</section>
				</section>

				<section>
					<section>
						<h1>What does SASS do?</h1>
					</section>
					<section>
						<h2>Organisation</h2>
						<p class="fragment roll-in"><small><a href="https://github.com/guyroutledge/sass-compass-talk/blob/master/scss/screen.scss">https://github.com/guyroutledge/sass-compass-talk/blob/master/scss/screen.scss</a></small></p>
					</section>
					<section>
						<h2>SASS Partials</h2>
						<p><code>partials</code> help split your styles into maintainable chunks</p>
						<p>These are <code>@import</code>-ed into a SASS stylesheet</p>
						<p>Partials are prefixed with an <code>_</code></p>
						<p><img src="img/directory-structure-partials.jpg"></p>
					</section>
					<section>
						<h2>Create a global stylesheet</h2>
						<pre><code>// In global.scss
// Partials for global styles to be compiled to global.css

@import "global-reset";
@import "global-grid";
@import "global-typography";
@import "global-header";
@import "global-footer";
@import "global-sidebar";
@import "global-forms";
@import "global-buttons";</code></pre>
						<p><small>You could use a naming convention like above<br>
						although I tend to break related partials into directories</small></p>
					</section>
					<section>
						<h2>Creating multiple compiled stylesheets</h2>
						<p>If you have a big website, consider multiple stylesheets</p>
						<p>Users only download what they need when they need it</p>
						<p>Any changes to your stylesheet will break the cache</p>
						<p>so having one massive stylesheet <em>can</em> be bad for performance</p>
					</section>
					<section>
						<h2>Variables</h2>
						<p><small><a href="https://github.com/guyroutledge/sass-compass-talk/blob/master/scss/_variables.scss">https://github.com/guyroutledge/sass-compass-talk/blob/master/scss/_variables.scss</a></small></p>
					</section>
					<section>
						<h2>Storing re-useable values in variables</h2>
						<p>Some common things variables are used for:</p>
						<ul>
							<li>Colors</li>
							<li>Global spacing (margins, padding)</li>
							<li>Font-stacks</li>
							<li>Paths to images</li>
							<li>Dimensions (width, height)</li>
						</ul>
					</section>
					<section>
						<h2>Declaring variables</h2>
						<p>Variables are declared using the <code>$</code> sign</p>
						<pre><code>$variable-name: 'variable value';</code></pre>
					</section>
					<section>
						<h2>Variable Types</h2>
						<p>Variables can have the following types:</p>
						<ul>
							<li>String</li>
							<li>Number</li>
							<li>Colour</li>
							<li>Booleans (true or false)</li>
							<li>List</li>
							<li>Null</li>
						</ul>
					</section>
					<section>
						<h2>Using a naming convention</h2>
						<p>I tend to use a prefix to indicate what a variable is for</p>
						<div class="column-left">
							<pre><code>  // this is confusing
  $red: #c30;
  $padding: 2em;
  .module {
    width:50%;
    padding:$padding;
    margin:$padding; // wtf?
    color:$red;
  }</code></pre>
					</div>
					<div class="column-right">
							<pre><code>// this is clearer
  $color-dark-red: #c30;
  $global-spacing: 2em;
  .module {
    width:50%;
    padding:$global-spacing;
    margin:$global-spacing;
    color:$color-dark-red;
  }</code></pre>
						</div>
  					</section>
					<section>
						<h2>Nesting</h2>
						<p class="fragment roll-in">Nesting allows you to write less.</p>
						<p><small><a href="https://github.com/guyroutledge/sass-compass-talk/blob/master/scss/_nesting.scss">https://github.com/guyroutledge/sass-compass-talk/blob/master/scss/_nesting.scss</a></small></p>
					</section>
					<section>
						<h2>Navigation styles in Vanilla CSS</h2>
						<pre><code>.main-nav               { /* styles */ }
.main-nav ul            { /* styles */ }
.main-nav ul li         { /* styles */ }
.main-nav ul li a       { /* styles */ }
.main-nav ul li a:hover { /* styles */ }
.ie8 .main-nav          { /* styles */ }</code></pre>
					</section>
					<section>
						<h2>Navigation styles in SASS</h2>

						<pre><code>.main-nav {
    // styles
    ul {
      // styles
      li {
        // styles
        a {
          // styles
          &:hover {
            // styles
          }
        }
      }
    }
    .ie8 & {
      // styles
    }
  }</code></pre>
					</section>
					<section>
						<h2 class="warning">Warning</h2>
						<img src="img/inception.jpg" alt="Avoid SASS inception">
						<p>If you're nesting more than 3 levels deep<br>
						you probably need to refactor your styles</p>
					</section>
					<section>
						<h2>Mixins</h2>
						<p class="fragment roll-in">Mixins allow you to reuse chunks of styles</p>
						<p><small><a href="https://github.com/guyroutledge/sass-compass-talk/blob/master/scss/_mixins.scss">https://github.com/guyroutledge/sass-compass-talk/blob/master/scss/_mixins.scss</a></small></p>
					</section>
					<section>
						<h2>Mixins accept arguments</h2>
						<pre><code>  @mixin button($background, $foreground, $font-size:1em){
    display:inline-block;
    padding:0.5em 1em;

    color:$foreground;
    font-size:$font-size;
    font-family:$font-brand;

    background:$background;
  }
  .button {
    @include button(blue, white);
  }
  .button-error {
    @include button(#f90, white, 2em);
    box-shadow:0px 0px 5px rgba(red, 0.3);
  }</code></pre>
					</section>
					<section>
						<h2>Use mixins to re-use the <code>@content</code></h2>
						<div class="column-left">
							<pre><code>@mixin placeholder() {
  ::-webkit-input-placeholder {
    @content;
  }
  ::-moz-placeholder {
    @content;
  }
  :-moz-placeholder {
    @content;
  }
  :-ms-input-placeholder {
    @content;
  }
}</code></pre>
						</div>
						<div class="column-right">
							<pre><code>@include placeholder {
  color:#ccc;
  font-style:italic;
}</code></pre>
					</div>
					</section>
					<section>
						<h2>Extends &amp; Silent Classes</h2>
						<p class="fragment roll-in">Variables and mixins break
						up styles into re-usable chunks.<br>
						<code>@extend</code> allows us to use those chunks as
						building blocks</p>
						<p><small><a
								href="https://github.com/guyroutledge/sass-compass-talk/blob/master/scss/_extends.scss">https://github.com/guyroutledge/sass-compass-talk/blob/master/scss/_extends.scss</a></small></p>
					</section>
					<section>
						<h2>SASS and Modular CSS</h2>
						<p>A concept in <a href="http://oocss.org/">OOCSS</a> or
						<a href="http://smacss.com/">SMACSS</a> is the idea of
						base classes or modules that are extended with numerous
						classes</p>
						<pre><code> &lt;a class="button button-large button-error" href="/help"&gt;Help!&lt;/a&gt;</code></pre>
						<p>&nbsp;</p>
						<p class="fragment roll-in">This is all well and good - but we can do better with SASS</p>
					</section>
					<section>
						<h2>Placeholder Classes</h2>
						<p>You will no doubt be familiar with these basic selectors</p>
						<pre><code>a { }             /* element selector */
.button { }       /* class selector */
#button-large { } /* ID selector */</code></pre>
						<div class="fragment roll-in">
							<p>&nbsp</p>
							<p>But SASS gives us this 'silent' class to use as well:</p>
							<pre><code>%button-large { font-size:3em; }</code></pre>
						</div>
					</section>
					<section>
						<h2>Silent What?</h2>
						<p>Any classes prefixed with a <code>%</code> are not
						compiled but they are available to you through the
						<code>@extend</code> feature.</p>
					</section>
					<section>
						<h2>Using <code>@extend</code></h2>
						<pre><code>  %button {
    display:inline-block;
    margin:1em 0;
    padding:1em 2em;

    color:#fff;
    font-size:1em;
    background:#eee;
  }
  %button-large { font-size:3em; }

  .comment-submit-button {
    @extend %button;
    @extend %button-large;
  }</code></pre>
					</section>
					<section>
						<h2>Benefits of <code>@extend</code></h2>
						<ul>
							<li>Create classes named by meaning, rather than styling</li>
							<li>Make markup more human readable</li>
							<li>Reduce presentational classnames</li>
							<li>Make stuff more modular by creating re-usable
							components</li>
							<li>Keep the output CSS smaller as these silent classes don't compile</li>
							<li>Smaller files means faster websites</li>
						</ul>
					</section>
					<section>
						<h2>Color Functions</h2>
						<p><small><a
								href="https://github.com/guyroutledge/sass-compass-talk/blob/master/scss/_color-functions.scss">https://github.com/guyroutledge/sass-compass-talk/blob/master/scss/_color-functions.scss</a></small></p>
					</section>
					<section>
						<h2>Create variations on a theme</h2>
						<p>Create a colour palette from a base colour (or colours)</p>
						<p>Adjust your colours without opening Photoshop</p>
						<p>&nbsp;</p>
						<pre><code>  a {
    color:$color-brand; // #f29c7b

    &:visited {
      color:darken($color-brand, 20%); // #e9561e
    }
  }</code></pre>

					</section>
					<section>
						<h2>Some useful SASS Colour Functions</h2>
						<pre><code>rgba($color, $alpha);
adjust-hue($color, $degrees);
mix($color1, $color2, [$weight]);
lighten($color, $amount);
darken($color, $amount);
saturate($color, $amount);
desaturate($color, $amount);
transparentize($color, $amount);</code></pre>
					</section>
					<section>
						<h2>Flow Control</h2>
						<h3>Conditionals, Loops and Maths</h3>
					</section>
					<section>
						<h2>Condtionals</h2>
						<pre><code>@if ( $condition ) {
  // do stuff if $condition is true
} @else if ( $other-condition ) {
  // do this instead if $condition is false
  // but $other-condition is true
} @else {
  // do this if neither of the above are true
}</code></pre>
					</section>
					<section>
						<h2>Seriously, I need this in CSS?</h2>
						<p>This could help us with an accessibility issue:</p>
						<div class="fragment roll-in">
							<pre><code>$color-background:#f29c7b; // light orange/red
$color-foreground:null;
$midpoint:(lightness(#fff) + lightness(#000))/2;

@if ( lightness($color-background) > $midpoint ) {
  $color-forground:#000;
} @else {
  $color-foreground:#fff;
}</code></pre>
						</div>
					</section>
					<section>
						<h2>Loops</h2>
						<p>Repeat a block of instructions as long as a condition is true</p>
					</section>
					<section>
						<h2>For Loop</h2>
						<p>Run the code <em>for</em> every value of a counter eg. <code>$i</code></p>
						<pre><code>@for $i from 1 through 4 {
  column-#{$i}-of-4 {
    width: $i * 25%;
  }
}
// outputs:
// .column-1-of-4 { width:25%; }
// .column-2-of-4 { width:50%; }
// .column-3-of-4 { width:75%; }
// .column-4-of-4 { width:100%; }</code></pre>
					</section>
					<section>
						<h2>While Loop</h2>
						<p>Run the code <em>while</em> the condition is true</p>
						<p>Have more fine-grained control of the counter <code>$i</code></p>
						<pre><code>@while $i &lt;= 4 {
  column-#{$i}-of-4 {
    width: $i * 25%;
  }
  $i: $i + 2;
}
// outputs:
// .column-1-of-4 { width:25%; }
// .column-3-of-4 { width:75%; }</code></pre>
					</section>
					<section>
						<h2>Each Loop</h2>
						<p>Run the code for <em>each</em> item in a list</p>
						<pre style="width:100%"><code>$social-icons: twitter, facebook, google-plus, pinterest, youtube;
@each $social in $social-icons {
  .share-#{$social} {
    background:url('../images/#{$social}-icon.png');
  }
}
// outputs
// .share-twitter     { background:url('../images/twitter-icon.png'); }
// .share-facebook    { background:url('../images/facebook-icon.png'); }
// .share-google-plus { background:url('../images/google-plus-icon.png'); }
// .share-pinterest   { background:url('../images/pinterest-icon.png'); }
// .share-youtube     { background:url('../images/youtube-icon.png'); }
</code></pre>
					</section>
				</section>
				<section>
					<section>
						<h1>What is Compass?</h1>
					</section>
					<section>
						<h2>Compass is a SASS Framework</h2>
						<p>A bit like jQuery is to JavaScript, Compass is to SASS</p>
						<p>And a bit like jQuery it helps you write less and do more</p>
						<ul>
							<li class="fragment roll-in">Helper functions</li>
							<li class="fragment roll-in">Pre-defined Mixins</li>
							<li class="fragment roll-in">Image Utilities</li>
							<li class="fragment roll-in">Magic Sprites</li>
						</ul>
					</section>
					<section>
						<h2>No more vendor prefixes</h2>
						<p>You can write your own mixins to deal with prefixes</p>
						<p>But Compass has <em>loads</em> pre-defined for you</p>
					</section>
					<section>
					<h2><s>Typing</s> Tedious vs. Compass</h2>
						<p>&nbsp;</p>
						<div class="column-left">
							<h4>This is tedious:</h4>
							<pre><code>-webkit-transform:rotate(5deg);
   -moz-transform:rotate(5deg);
     -o-transform:rotate(5deg);
    -ms-transform:rotate(5deg);
        transform:rotate(5deg);</code></pre>
						</div>
						<div class="column-right">
							<h4>This is super fast:</h4>
							<pre><code>@include rotate(5deg);</code></pre>
						</div>
					</section>
					<section>
						<h2>Set link colours in a single line</h2>
						<p>Another simple but effective mixin</p>
						<pre><code>@include link-colors($normal, $hover, $active, $visited, $focus)</code></pre>
					</section>
					<section>
						<h2>So many mixins</h2>
						<p>Check out <a href="http://www.compass-style.org">http://www.compass-style.org</a></p>
					</section>
					<section>
						<h2>Helper Functions</h2>
						<p><small><a href="http://compass-style.org/reference/compass/helpers/">http://compass-style.org/reference/compass/helpers/</a></small></p>
					</section>
					<section>
						<h2>Hassle Free Image Dimensions</h2>
						<pre class="fragment roll-in"><code>$image: 'image.png';
$padding:20px;

.element-with-bg-image {
  width: image-width($image) - ($padding*2);
  heigth: image-height($image) - ($padding*2);
  padding: $padding;
  background:url($image);
}</code></pre>
					</section>
					<section>
						<h2>Sprites</h2>
						<p><small><a href="http://compass-style.org/help/tutorials/spriting/">http://compass-style.org/help/tutorials/spriting/</a></small></p>
					</section>
					<section>
						<h2>Remember this?</h2>
						<p>Our <code>@each</code> example dealt with sharing icons</p>
						<pre style="width:100%"><code>.share-twitter     { background:url('../images/twitter-icon.png'); }
.share-facebook    { background:url('../images/facebook-icon.png'); }
.share-google-plus { background:url('../images/google-plus-icon.png'); }
.share-pinterest   { background:url('../images/pinterest-icon.png'); }
.share-dribble     { background:url('../images/dribble-icon.png'); }
.share-youtube     { background:url('../images/youtube-icon.png'); }</code></pre>
						<p>But we can do better with an image sprite</p>
				</section>
				<section>
					<h2>Sprites: the tedious way</h2>
					<div class="fragment roll-in">
						<p>I've made a sprite of 6 social icons</p>
						<img src="img/sprite.jpg" alt="social-sprite">
					</div>
					<p class="fragment roll-in">Now I have to work out the background position for each one</p>
					<pre class="fragment roll-in"><code>.share-google-plus { background-position:-100px 0; }</code></pre>
					<div class="fragment roll-in">
						<p>But what if we realise no-one uses Google Plus?</p>
						<p>If we remove it we have to do all our math again.</p>
					</div>
				</section>
				<section>
					<h2>Sprites: the Compass way</h2>
					<h3>Housekeeping</h3>
					<ul>
						<li>Make sure your images directory is set correctly</li>
						<li>Make a sub-folder such as <code>/images/share</code></li>
						<li>Make sure all your individual images are in PNG format</li>
					</ul>
					<p><img src="img/directory-structure-share.jpg"></p>
				</section>
				<section>
					<h2>Tell Compass to be Magic</h2>
					<pre><code>$share-sprite-dimensions: true;
@import "share/*.png";
@include all-share-sprites;</code></pre>
					<p>&nbsp;</p>
					<h3 class="warning">Warning: Live demo</h3>
					<p class="fragment roll-in"><small>Everything might break</small></p>
				</section>
				<section>
					<h2>What does this do?</h2>
					<p>All being well, Compass should generate this:</p>
					<div class="column-left">
						<img src="img/generated-sprite.jpg" alt="generated sprite">
					</div>
					<div class="column-right">
						<img src="img/generated-css.jpg" alt="generated css">
					</div>
				</section>
				<section>
					<h2>How do I use this?</h2>
					<p>To use these sprites, either add the classes to your <code>HTML</code></p>
					<pre><code>&lt;a class="share-twitter-icon" href="#"&gt;twitter&lt;/a&gt;</code></pre>
					<p>&nbsp;</p>
					<p>Or use the sprite helper function for your desired image</p>
					<pre><code>.twitter {
  background: sprite($share, twitter-icon) no-repeat;
}</code></pre>
				</section>
				<section>
					<hgroup>
					<h2><span class="small">...so</span> SASS <span class="small">&amp;</span> Compass <span class="small">are awesome</span></h2>
					</hgroup>
				</section>
			</section>
			<section>
				<section>
					<h1>So What about WordPress?</h1>
				</section>
				<section>
					<h2>Some requirements</h2>
					<ul>
						<li>Local dev envioronment and install of WordPress</li>
						<li>Ruby installed on your system</li>
						<li>SASS/Compass installed</li>
					</ul>
				</section>
				<section>
					<h2>What if you want to sell themes</h2>
					<p>There are numerous SASS themes on the market</p>
					<p>You can always develop with SASS and deliver CSS</p>
					<p>Or you can sell both and conquor two markets at once</p>
				</section>
				<section>
					<h2>Is there a plugin that can help me?</h2>
					<p>There is a <a href="http://wordpress.org/extend/plugins/wordpress-sass
						">Wordpress-SASS</a> plugin</p>
					<p>It uses a PHP compiler. Which sounds a bit odd...</p>
					<p>I haven't used it so can't really comment.</p>
				</section>
				<section>
					<h2>Are there any starter themes for SASS?</h2>
					<p>Yes.</p>
					<ul class="fragment roll-in">
						<li><a href="http://themble.com/bones/">Bones</a></li>
						<li><a href="http://zurbpress.wpprofs.com/">Zurb Foundation Theme</a></li>
						<li><a
							href="https://github.com/micdijkstra/HTML5-Reset-Compass-Sass-Wordpress-Theme">HTML5 Reset</a></li>
						<li><a href="https://github.com/ayoungh/HTML5-Blank-WordPress-Theme">HTML5 Blank</a></li>
						<li><a href="http://forge.thethemefoundry.com/">Forge - a SASS CLI
							bundler</a></li>
					</ul>
				</section>
			</section>
			<section>
				<section>
					<h2>Got any questions?</h2>
					<p><a href="http://www.guyroutledge.co.uk">http://www.guyroutledge.co.uk</a> |
					<a href="http://www.twitter.com/guyroutledge">@guyroutledge</a></p>
					<p>&nbsp;</p>
					<p><small>Code and working examples: <br><a href="https://github.com/guyroutledge/sass-compass-talk">https://github.com/guyroutledge/sass-compass-talk</a></small></p>
				</section>
			</section>

			</div>

		</div>

		<script src="lib/js/head.min.js"></script>
		<script src="js/reveal.min.js"></script>

		<script>

			// Full list of configuration options available here:
			// https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				controls: true,
				progress: true,
				history: true,
				center: true,

				theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
				transition: Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/zoom/linear/fade/none

				// Optional libraries used to extend on reveal.js
				dependencies: [
					{ src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
					{ src: 'plugin/markdown/showdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
					{ src: 'plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
					{ src: 'plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
					// { src: 'plugin/search/search.js', async: true, condition: function() { return !!document.body.classList; } }
					// { src: 'plugin/remotes/remotes.js', async: true, condition: function() { return !!document.body.classList; } }
				]
			});

		</script>

	</body>
</html>
